.cont{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  max-width: 10vw;
  margin: 0.2%;
  gap: 3%;
}

.icon{
  height:2.8vh;
  border: 0.2vh solid var(--border-color);
  border-radius: 50%;
}

.butt{
  color: var(--border-color);
  border: 0.2vh solid var(--border-color);
  background-color: black;
  font-size: 90%;
  cursor: pointer;
  max-height: 3vh;
  width: max-content;
  margin: 4%;
}
.butt:active{
    transform: translateY(2px);
}
.buttsign{
  color: var(--border-color);
  border: 0.2vh solid var(--border-color);
  background-color: aliceblue;
  font-size: 100%;
  cursor: pointer;
}
.buttsign:active{
    transform: translateY(2px);
}
.infobox{
  height: 15vh;
  width: 20vw;
  background-color: aliceblue;
  position: absolute;
  top: 4vh;
  z-index: 2;
  padding: 1%;
  border: 0.4vh solid var(--border-color);
}

@media (max-width: 600px){
.infobox{
  height: 40vh;
  width: 100vw;
}
}

input{
  width: 60%;
  margin: 3%;
  font-size: large;
}