.cont{
  display: flex;
  max-width: fit-content;
  margin: 0.2%;
  gap: 3%;
  max-height: 4vh;
  justify-content: space-around;
}

.icon{
  height: 3.3vh;
  border: 0.2vh solid var(--border);
  border-radius: 50%;
}

.butt{
  color: var(--border);
  border: 0.2vh solid var(--border);
  background-color: black;
  font-size: 1.2vw;
  cursor: pointer;
  height: 3vh;
  width: 7vw;
  margin: 1%;
}
.butt:active{
    transform: translateY(2px);
}
.buttsign{
  color: var(--border);
  border: 0.2vh solid var(--border);
  background-color: aliceblue;
  font-size: 1.2vw;
  cursor: pointer;
}
.buttsign:active{
    transform: translateY(2px);
}
/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 4vh;
  min-height: 2vh;
  width: 9vw;
  background-color: #eee;
  color: #010101;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  border: 0.35vh solid grey;
}

/* Create the checkmark/indicator (hidden when not checked) */

.newbutt{
    max-width: 8vw;
    padding-left: 3vw;
    padding-right: 3vw;
    margin-right: 0.4vw;
}

.infobox{
  height: 20vh;
  width: 30vw;
  background-color: aliceblue;
  position: absolute;
  top: 4vh;
  left: 0;
  z-index: 2;
  padding: 1%;
  border: 0.4vh solid var(--border);
  font-size: 1.1vw;
}

input{
  width: 80%;}
.smallinput{
  width: 20vw;
}
.smallerinput{
  width: 8vw;
}


@media (max-width: 600px){
.cont{
  gap: 1%;
}
.infobox{
  height: 30vh;
  width: 96vw;
  font-size: 2.5vh;
}
.butt{
  font-size: 2vh;
  width: 16vw;
}
.buttsign{
  font-size: 2.3vh;
}
input{
  width: 70%;
  margin: 3%;
  font-size: 3vh;
}
.smallinput{
  width: 55vw;}
  .checkmark {
    width: 30vw;
    height: 6vh;
    overflow-y: hidden;
    overflow-x: hidden;
  }
}