
@font-face {
  font-family: 'Mikodacs';
  src: url('../../public/Mikodacs.otf');
}
@font-face {
  font-family: 'Norwester';
  src: url('../../public/Norwester.otf');
}
.page {
    /*PC*/
    font-size: large;
    min-width: 100vw;
    min-height: 100vh;
    scrollbar-color: #010101 #EF944D;
}

.expansion{
    background-color: black;
    font: initial;
    box-shadow: none !important;
}

.iconbtn{
    border: 0.3vh solid var(--bonusdep-color);
    max-width: 4.5vh;
}
.weapbtn{
    border: 0.3vh solid  var(--bonusdep-color);
    max-height: 5vh;
}

.links{
    padding: 3%;
    text-decoration: none;
    font-size: 3vh;
    color: var(--border-color);
    display: block;
    transition: 0.3s;
    left: 4vh;
    font-family: "Norwester" !important;
    line-height: unset;
}
.links:hover {
    color: aliceblue;
}
.closebtn {
    position: fixed;
    right: 30vw;
    top: 0;
    background-color: #EF944D;
    max-height: 8vh;
    max-width: 4vh;
    cursor: pointer;
    z-index: 3;
}
@media (max-width: 600px) {
    .closebtn{
        left: 0;
    }
}
.openbtn {
    position: fixed;
    cursor: pointer;
    background-color: #010101;
    color: white;
    transition: right .5s;
    top: 0.5vh;
    right: 0.2vw;
    max-height: 3vh;
    z-index: 2;
}

.buttonanim {
    position: fixed;
    cursor: pointer;
    background-color: #EF944D;
    transition: right .5s;
    /* If you want a transition effect */
    top: 0.5vh;
    right: 0.2vw;
    max-height: 3vh;
}

.openbtn:hover {
    -webkit-animation: fade 3s;
    animation: fade 3s;
}

@-webkit-keyframes fade {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 0;
    }

    34% {
        opacity: 0;
    }

    88% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 0;
    }

    34% {
        opacity: 0;
    }

    88% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.sidenav {
    width: 30vw; /*non so perché si è rotto ed è più piccolo*/
    height: 100vh;
    background-color: #010101;
    overflow-x: hidden;
    border-left: 0.4vh solid #EF944D !important;
    scrollbar-color: #010101 #EF944D;
    box-sizing: content-box;
    font-family: 'Norwester' !important;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar .mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}


.barra {
    font: initial; /*ereditava cose in più da mat che lo rompono*/
    position: fixed;
    font-family: 'Norwester';
    top: 0;
    right: 0;
    background-color: #010101;
    min-width: 100%;
    min-height: 4vh;
    max-height: 4vh;
    border-bottom: 0.4vh solid #EF944D;
    color: #EF944D;
    font-size: 2vh;
    z-index: 1;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 68px;
  left: 10%;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--lightbackg-color);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 68px;  
}

.slider:before {
  position: absolute;
  content: "";
  height: 52px;
  width: 52px;
  left: 8px;
  bottom: 8px;
  background-color: grey;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}


input:checked + .slider {
  background-color: #010101;
}

input:focus + .slider {
  box-shadow: 0 0 1px #010101;
}

input:checked + .slider:before {
  -webkit-transform: translateX(52px);
  -ms-transform: translateX(52px);
  transform: translateX(52px);
}


.title {
    position: absolute;
    font-size: 3vh;
    padding: 0.5vh;
    color: var(--third-trumpet);
    left: 45vw;
    font-family: 'Norwester';
}

.recap {
    position: fixed;
    top: 80vh;
    left: 0;
    width: 100vw;
    height: 20vh;
    background-color: aqua;
    scrollbar-color: aqua #010101;
}