
@font-face {
  font-family: Mikodacs;
  src: url(/public/Mikodacs.otf);
}
@font-face {
  font-family: BebasKai;
  src: url(/public/BebasKai.otf);
}

.page {
    /*PC*/
    font-family: 'Mikodacs';
    font-size: large;
    min-width: 100vw;
    min-height: 100vh;
    scrollbar-color: #010101 #EF944D;
}

.expansion{
    background-color: #010101;
    font: initial;
}

.iconbtn{
    border: 0.3vh solid aquamarine;
    max-width: 4.5vh;
}
.weapbtn{
    border: 0.3vh solid aquamarine;
    max-height: 5vh;
}

.links{
    padding: 3%;
    text-decoration: none;
    font-size: 3vh;
    color: #818181;
    display: block;
    transition: 0.3s;
    left: 4vh;
    font-family: "BebasKai";
}
.links:hover {
    color: #f1f1f1;
}
.closebtn {
    position: fixed;
    right: calc(100vw  / 3);
    top: 0;
    background-color: #EF944D;
    max-height: 8vh;
    max-width: 4vh;
    cursor: pointer;
    z-index: 1;
}
.openbtn {
    position: fixed;
    cursor: pointer;
    background-color: #010101;
    color: white;
    transition: right .5s;
    top: 0.5vh;
    right: 0.2vw;
    max-height: 3vh;
    z-index: 1;
}

.buttonanim {
    position: fixed;
    cursor: pointer;
    background-color: #EF944D;
    transition: right .5s;
    /* If you want a transition effect */
    top: 0.5vh;
    right: 0.2vw;
    max-height: 3vh;
}

.openbtn:hover {
    -webkit-animation: fade 3s;
    animation: fade 3s;
}

@-webkit-keyframes fade {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    34% {
        opacity: 0;
    }

    88% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    34% {
        opacity: 0;
    }

    88% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.sidenav {
    width: calc(100vw  / 3); /*non so perché si è rotto ed è più piccolo*/
    height: 100vh;
    background-color: #010101;
    overflow-x: hidden;
    border-left: 0.4vh solid #EF944D;
    scrollbar-color: #010101 #EF944D;
    padding: 0.4vh #010101;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar .mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}


.barra {
    font: initial; /*ereditava cose in più da mat che lo rompono*/
    position: fixed;
    font-family: 'BebasKai';
    top: 0;
    right: 0;
    background-color: #010101;
    min-width: 100%;
    min-height: 4vh;
    max-height: 4vh;
    border-bottom: 0.4vh solid #EF944D;
    color: #EF944D;
    font-size: 2vh;
}


.title {
    position: absolute;
    font-size: 3vh;
    padding: 0.5vh;
    color: #ED0506;
    left: 45vw;
    font-family: 'BebasKai';
}

.recap {
    position: fixed;
    top: calc(4vh + 1000px);
    left: 0;
    width: 100%;
    height: calc(96vh - 1000px);
    background-color: aqua;
    scrollbar-color: aqua #010101;
}