.sheet {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
    width: calc(100vw / 3);
    font-family: 'Mikodacs';
    background-color: var(--background-color);
    color: aliceblue;
    border-left: 0.4vh solid #EF944D;
    text-align: center;
    text-justify: center;
    font-size: 160%;
    overflow-x: hidden;
    scrollbar-color: #010101 #EF944D;
    width: calc(100vw / 3);
    min-width: 700px;
    max-height: 100vh;
    min-height: 100vh;
    padding-top: 0.5%;
}

@media screen {
    
}

@font-face {
  font-family: 'Mikodacs';
  src: url('/public/Mikodacs.otf');
}
@font-face {
  font-family: 'Norwester';
  src: url('/public/Norwester.otf');
}

:root{
    --background-color: #010101;
    --lightbackg-color: #fff8d3;
    --blacktext-color: #010101;
    --whitetext-color: aliceblue;
    --border-color: #EF944D;
    --reddam-color: #CB2642;
    --whitedam-color: #EFECC0;
    --blackdam-color: #814A84;
    --paledam-color: #3FCCBD;
    --control-color: #D1DE22;
    --info-color: #7B0BA4;
    --training-color: #C88611;
    --safety-color: #73AA2A;
    --central-color: #EFCF00;
    --disc-color: #E4200C;
    --welfare-color: #6949FF;
    --extraction-color: #2E2E2E;
    --records-color: #606060;
    --architecture-color: #FFFFFF;
    --customdep1-color: #FF69B4;
    --customep2-color: #7CFC00;
    --customdep3-color: #00ffff;
    --bonusdep-color: #9AC2FF;
    --asiya-color: #F7FF00;
    --briah-color: #6DFF00;
    --atziluth-color: #C0C0C0;
}

.sheet .intro {
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1.3fr 1fr 2fr;
    max-height: 100%;
    gap: 1%;
    padding-bottom: 3%;
}

.intro .icon {
    grid-row: 1/4;
    grid-column: 1;
    border: 5px solid var(--bonusdep-color);
    max-width: 90%;
    max-height: 90%;
    contain: scale-down;
    margin-left: 5%;
}

.sheet .gridbox{
    margin: 0.8%;
    background-clip: padding-box;
    align-content: center;
    padding: 1.5%;
}

.intro .equip {
    grid-column: 2;
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.1fr;
    border: 0.3vh solid #E2E6AE;
    border: 1% solid #E2E6AE;
    padding: 1%;
    contain: scale-down;
    max-height: 100%;
    margin: 1%;
    margin-bottom: 0.3%;
}

.equip .equips {
    max-height: 10vh;
    max-width: 100%;
    contain: scale-down;
}


html, body { height: 100%;
    overflow-y: hidden;}
body { margin: 0;}
