.sheet {
    display: grid;
    grid-template-rows: 25.5% 13.5% 15% 8.5% 15% 17%;
}


.intro{
    grid-template-rows: 1.5fr 1.5fr 1fr;
    font-size: 1.8vh;
}

.intro .abnoname{
    grid-row: 1;
    grid-column: 2;
    background-color: #010101;
    color: aliceblue;
    align-content: center;
    font-size: 2.3vh;
    max-height: 110%;
    padding: 2%;
    margin-left: 2%;
}
.intro .damage{
    grid-row: 2;
    border: 0.3vh solid var(--title-yellow);
    color: var(--title-yellow);
    margin: 6%;
    font-size: 3vh;
    padding: 2%;
    align-content: center;
}
.damselect{
    max-height: 4vh;
    max-width: 8vw;
    z-index: 1;
    position: absolute;
    left: 5%;
    border: none;
}
.damicon{
    max-height: 3vh;
    contain: scale-down;
    z-index:0;
    position: absolute; left: 5%;
}
.intro .codedange{
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}
.codedange .code{
    grid-column: 1;
    font-size: 3.3vh;
    max-height: 110%;
    margin-left: 10%;
    padding: 2%;
    color: aliceblue;
    background-color: #010101;
    max-width: 9vw;
    font-weight: bold;
}
.codedange .danger {
    grid-column: 2;
    justify-content: center;
    color: black;
    font-family: 'Norwester';
    font-size: 4vh;
    padding: 1%;
    font-weight: bold;
}
.intro .equip{
    max-height: 90%;
    align-self: flex-end;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.1fr;
}
.equip .equips {
    max-height: 10vh;
    contain: scale-down;
    grid-row: 1;
    align-self: center;
    justify-self: center;
}

.equip .equiptxt {
    grid-row: 2;
}
.sheet .escape{
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.counterdam{
    grid-column: 1;
    display: grid;
    grid-template-rows: 1.25fr 0.8fr;
}
.counterdam .counter{
    grid-row: 1;
    align-content: center;
    margin-left: 25%;
    color: var(--title-yellow);
    font-size: 4vh;
    max-height: 10vh;
    max-width: 8vw;
    padding-right: 23%;
    background:url(/QlipothBase.png);
    background-repeat: no-repeat;
    background-size: 5vw 9.5vh;
}

.escapedam{
    grid-row: 2;
    border: 0.3vh solid var(--title-yellow);
    color: var(--title-yellow);
    margin: 6%;
    font-size: 3vh;
    padding: 2%;
}

.escape .resistances {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5%;
    background-color: #010101;
    max-height: 100%;
    contain: scale-down;
    background-clip: padding-box;
    margin: 3%;
}

.resistances .resistance {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    border: 0.6vh solid;
    max-height: 100%;
    border: 1%;
    contain: scale-down;
    background-color: #010101;
}

.resistance .resitem1 {
    grid-column: 1;
    background-color: #010101;
    align-content: center;
    justify-content: space-around;
    contain: scale-down;
    max-height: 100%;
}

.resistance .resitem2 {
    grid-column: 2;
    background-color: #010101;
    align-content: center;
    contain: scale-down;
    max-height: 100%;
    font-size: 3vh;
    font-weight: bold;
}

.resicon {
    max-height: 4vh;
    max-width: 2vw;
    contain: scale-down;
}

.preferences{
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 2vh;
    margin-top: 1%;
}

.preference{
    border: 0.4vh solid;
    border: 1%;
    contain: scale-down;
    background-color: #010101;
    margin: 3%;
    display: grid;
    grid-template-rows: 0.5fr 1fr;
}
.prefselect{
    height: 4.5vh;
    width: 2vw;
    z-index: 1;
    border: none;
}

.preference .preficon{
    max-height: 4.5vh;
    max-width: 2vw;
    contain: scale-down;
    position: absolute;
    z-index: 0;
}
.preference .preftext{
    grid-row: 2;
    grid-column: 1/5
}

.resistance .prefitem1 {
    grid-row: 1;
    background-color: #010101;
    contain: scale-down;
    max-height: 100%;
}

.sheet .clocks{
    grid-row: 4;
    gap: 4%;
    background-color: #010101;
    max-height: 100%;
    max-width: 100%;
    contain: scale-down;
    background-clip: padding-box;
    margin-left: 4%;
    margin-right: 3%;
}
.clock{
    justify-self: center;
    max-height: 9vh;
    max-width: 3.8vw;
    margin-left: 2%;
}
.bigclock{
    justify-self: center;
    max-width: 4.5vw;
    max-height: 11vh;
    margin-right:4%;
    border-radius: 50%;
    border: 0.4vh solid var(--title-yellow);
}
.sheet .hints {
    border: 0.3vh solid var(--border);
    height: 100%;
    background-color: var(--border);
    color: var(--border);
    gap: 1%;
    background-clip: padding-box;
    margin: 2%;
    margin-left: 10%;
    margin-right: 10%;
    overflow-y: scroll;
}


.hints .hinttext {
    background-color: #010101;
    max-height: min-content;
    font-size: 2vh;
    padding: 0.5%;
    margin: 0.2%;
}
.hints .hintinput{
    max-width: 20vw;
}
.hints .hinticon {
    max-height: 2.5vh;
    contain: scale-down;
}

@media (max-width: 600px) {
    .codedange .code{
        margin-left:2%;
        max-width: 40vw;
    }
    .escape{
        grid-template-columns: 0.6fr 2fr;
    }
    .prefselect{
        height: 5vh;
        width: 5vw;
    }
    .preficon{
        max-height: 8vh;
        max-width: 8vw;
    }
    .resicon{
        max-height: 8vh;
        max-width: 8vw;
    }
    .resistances{margin: 0;}
    .escape .counter{
        margin-top: 7%;
        padding-left: 1%;
        font-size: 5vh;
        max-height: 10vh;
        max-width: 15vw;
        background-size: 15vw 9vh;}
        .bigclock{
            max-height: 20vh;
            max-width: 15vw;
        }
    .clock{
        max-height: 15vh;
        max-width: 12vw;
    }
    .hints .hintinput{
        max-width: max-content;
    }
}