<div class="sheet" id="myAbno">
    <img class="closebtn" onclick="closeAbno()" src="buttonclose.png" alt="Menu Button">
    <div class="intro">
        <div class="iconside">
        <img class="icon" src="Charas/211.png" alt="">
        <span class="damage"><img class="damicon" src="WhiteDamage.png" alt="">  -  3-2</span>
        </div>
        <div class="abnoname">The Snow Queen</div>
        <div class="danger">HE</div>
        <div class="equip">
                <img class="equips" src="EGOs/EGOWeaponFrostShard.png" alt="Weapon">
                <div class="equiptext">Frost Shard</div>
                <img class="equips" src="EGOs/EGOSuitFrostShard.png" alt="Suit">
                <div class="equiptext">Frost Shard</div>
                <img class="equips" src="EGOs/EGOGiftFrostShard.png" alt="Gift">
                <div class="equiptext">Those who know the Cruelty of Winter and the Aroma of Roses</div>
        </div>
    </div>
    <div class="escape">
        <span class="counter" style="background-image: url(/QlipothBase.png); background-repeat: no-repeat;" alt="Qlipoth">2</span>
    <div class="resistances">
            <div class="resistance" style="border-color: #CB2642; color:#CB2642;">
                    <div class="resitem1"><img class="resicon" src="RedDamage.png" alt=""></div>
                    <div class="resitem2">x 0.3</div>
            </div>
            <div class="resistance" style="border-color: #EFECC0; color:#EFECC0;">
                    <div class="resitem1"><img class="resicon" src="WhiteDamage.png" alt=""></div>
                    <div class="resitem2">x 0.3</div>
            </div>
            <div class="resistance" style="border-color: #814A84; color:#814A84;">
                    <div class="resitem1"><img class="resicon" src="BlackDamage.png" alt=""></div>
                    <div class="resitem2">x 0.3</div>
            </div>  
            <div class="resistance" style="border-color: #3FCCBD; color:#3FCCBD;">
                    <div class="resitem1"><img class="resicon" src="PaleDamage.png" alt=""></div>
                    <div class="resitem2">x 0.3</div>
            </div>
        </div>
    </div>
        <div class="preferences">
            <div class="preference" style=" border-color: #008837;">
                    <div class="prefitem1"><img class="preficon" src="Insight.png" alt=""></div>
                <span class="preftext">Preferred: Death<div>destruction</div><div>die</div></span>
            </div>
            <div class="preference" style=" border-color: #D64D4D;">
                    <img class="preficon" src="Insight.png" alt="">
                    <img class="preficon" src="Insight.png" alt="">
                    <img class="preficon" src="Insight.png" alt="">
                    <img class="preficon" src="Insight.png" alt="">
                <span class="preftext">Disfavoured:</span>
            </div>
        </div>
        <div class="hints">
            @for ( i of Chara.gifts ; track i;) {
            @if(i!=null){<div class="hinttext">
                <img class="hinticon" src='EGOs/{{i.imgUrl}}.png' alt="">
                {{i.Name}}@if(i.Exp != 0) {: {{i.Exp}} Exp}
            </div>}
            @if (Chara.gifts.length<8) { <div class="hinttext" style="padding: 2%; padding-bottom: 27%;">
        </div>}
        }
        @empty{
        @if(lang=='en'){<div class="hinttext" style="padding: 2%; padding-bottom: 27%;">No Gifts Acquired</div>}
        @else{<div class="hinttext" style="padding: 2%; padding-bottom: 27%;">Nessun Dono Ottenuto</div>}
        }
        </div>
        <div class="hints" style="grid-row:5">
            @for ( i of Chara.gifts ; track i;) {
            @if(i!=null){<div class="hinttext">
                <img class="hinticon" src='EGOs/{{i.imgUrl}}.png' alt="">
                {{i.Name}}@if(i.Exp != 0) {: {{i.Exp}} Exp}
            </div>}
            @if (Chara.gifts.length<8) { <div class="hinttext" style="padding: 2%; padding-bottom: 27%;">
        </div>}
        }
        @empty{
        @if(lang=='en'){<div class="hinttext" style="padding: 2%; padding-bottom: 27%;">No Gifts Acquired</div>}
        @else{<div class="hinttext" style="padding: 2%; padding-bottom: 27%;">Nessun Dono Ottenuto</div>}
        }
        </div>
        <div class="hints" style="grid-row:6">
            @for ( i of Chara.gifts ; track i;) {
            @if(i!=null){<div class="hinttext">
                <img class="hinticon" src='EGOs/{{i.imgUrl}}.png' alt="">
                {{i.Name}}@if(i.Exp != 0) {: {{i.Exp}} Exp}
            </div>}
            @if (Chara.gifts.length<8) { <div class="hinttext" style="padding: 2%; padding-bottom: 27%;">
        </div>}
        }
        @empty{
        @if(lang=='en'){<div class="hinttext" style="padding: 2%; padding-bottom: 27%;">No Gifts Acquired</div>}
        @else{<div class="hinttext" style="padding: 2%; padding-bottom: 27%;">Nessun Dono Ottenuto</div>}
        }
        </div>
</div>
